.a{
    margin: 10px;
}
.b{
    
    margin: 30px;
    
}
ion-card{
    //margin-top: 20px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 10px;
}
.accepter{

    margin-left: 40px;
}