
ion-content{
    color: crimson;
    background-color: crimson;
}


    ion-card{
        position: relative;
    text-align: center; 
    
    
    }
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
       border-radius: 50%;
        
    }
ion-icon{
    font-size: 30px;
}

